/bin/
/.gradle/
/build/
/.classpath
*/.classpath
jrmcli/.classpath
jrmfx/.classpath
jrmserver/.classpath
jrmstandalone/.classpath
/.project
*/.project
/.settings/
*/.settings/
/JRomManager.code-workspace
/.playwright-mcp/page-2026-09-29T07-52-00-762Z.png
/.vscode/settings.json
/jrmcore/cache/
/jrmcore/settings/.cache-hmac
